:root {
  --spacer--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);
  --spacer--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
  --spacer--lg: clamp(32px, 8.8461525px + 6.615385vw, 75px);
  --fontTitles: "Oxanium", sans-serif;
  --fontText: Arial, sans-serif;
  --fontS: clamp(0.95rem, 0.59090903rem + 0.727273vw, 1.2rem);
  --fontM: clamp(1.18rem, 0.94454538rem + 1.076364vw, 1.55rem);
  --fontL: clamp(1.35rem, 0.93636366rem + 1.890909vw, 2rem);
  --fontXL: clamp(1.5rem, 0.73636366rem + 3.490909vw, 2.7rem);
  --fontXXL: clamp(2rem, -0.22727269rem + 10.181818vw, 4rem);
  --fontN: clamp(2rem, 1.3333rem + 2.963vw, 4rem);
  --colorLight: #f2f2f2;
  --colorDark: #0d0d0d;
  --colorDetail: #3084f2;
  --transition-normal: all 250ms ease-in-out;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }

h1 {
  font-size: var(--fontN);
  font-family: var(--fontTitles);
  line-height: 1; }

h2 {
  font-size: var(--fontXL);
  font-family: var(--fontTitles); }

h3 {
  font-size: var(--fontL);
  font-family: var(--fontTitles); }

h4 {
  font-size: var(--fontS);
  font-family: var(--fontText); }

p {
  line-height: 1.4;
  font-size: var(--fontS); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  background-color: #000;
  background-image: url(../img/black-twill.png);
  font-size: 16px;
  color: var(--colorLight);
  font-family: var(--fontText); }

a {
  color: var(--colorLight); }

.ocultar {
  display: none; }

.fixed {
  position: fixed;
  right: 2rem; }

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer--lg);
  margin: var(--spacer--lg); }

.header-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorDetail); }

.logo {
  width: 200px;
  transition: var(--transition-normal); }
  .logo:hover {
    transform: scale(1.02); }

.logo img {
  width: 100%; }

.btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none; }
  .btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--colorLight);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms; }
  .btn__line1-active {
    transform: rotate(45deg) translate(-3px, 2px); }
  .btn__line2-active {
    opacity: 0;
    margin-right: 30px; }
  .btn__line3-active {
    transform: rotate(-45deg) translate(-3px, 1px); }

.nav {
  display: flex;
  align-items: center;
  gap: 2rem; }
  .nav__link {
    margin-top: 8px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block; }
    .nav__link::after {
      content: "";
      display: block;
      background: var(--colorDetail);
      width: 100%;
      margin-top: 4px;
      height: 1.3px;
      clip-path: var(--clippy);
      transition: clip-path 0.2s; }
    .nav__link:hover {
      --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%); }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--colorDetail);
  padding: 4rem 2rem;
  width: 100%; }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .footer__nav-link {
      text-transform: uppercase;
      font-weight: 600;
      padding: 0 15px;
      display: inline-block;
      --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
      .footer__nav-link::after {
        content: "";
        display: block;
        background: var(--colorDetail);
        width: 100%;
        margin-top: 4px;
        height: 1.3px;
        clip-path: var(--clippy);
        transition: clip-path 0.3s; }
      .footer__nav-link:hover {
        --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%); }
  .footer__social {
    display: flex;
    gap: 20px; }
    .footer__social i {
      font-size: 2rem;
      transition: all 0.2s;
      cursor: pointer; }
      .footer__social i:hover {
        transform: scale(1.2); }
  .footer__copy {
    font-size: 0.9rem; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer--md); }
  .hero__texto span {
    color: var(--colorDetail); }
  .hero__texto h4 {
    padding-left: 4px;
    color: #db0200; }
  .hero__texto p {
    padding-left: 4px; }
  .hero__texto a i {
    font-size: 2.4rem;
    transition: var(--transition-normal);
    cursor: pointer;
    margin-top: 0.6rem;
    padding-left: 4px; }
    .hero__texto a i:hover {
      transform: scale(1.02); }
  .hero__imagen {
    max-width: 600px; }
    .hero__imagen img {
      width: 100%;
      border: 1px solid var(--colorDetail); }

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md); }
  .work .cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacer--md); }
    .work .cards-container .card {
      display: flex;
      flex-direction: column;
      padding: var(--spacer--sm);
      background: transparent;
      border: 1px solid var(--colorDetail);
      gap: var(--spacer--sm);
      max-width: 320px; }
      .work .cards-container .card__img img {
        width: 100%;
        border: 1px solid var(--colorDetail); }
      .work .cards-container .card__texto {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .work .cards-container .card__texto a i {
          color: var(--colorDark);
          padding: 8px 12px;
          transition: var(--transition-normal);
          background-color: var(--colorDetail);
          border: 1px solid var(--colorDetail);
          font-size: var(--fontS); }
          .work .cards-container .card__texto a i:hover {
            background: transparent;
            color: var(--colorDetail);
            border: 1px solid var(--colorDetail); }

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md); }
  .slider-section .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .slider-section .slider__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .slider-section .slider__card-title {
        text-align: center;
        margin-top: var(--spacer--sm); }
      .slider-section .slider__card-img {
        width: 100%;
        border: 1px solid var(--colorDetail); }

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacer--md);
  align-self: center;
  width: 100%; }
  .portfolio__card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--colorDetail);
    padding: var(--spacer--sm);
    gap: var(--spacer--sm);
    justify-content: flex-start; }
    .portfolio__card-img img {
      width: 100%; }
    .portfolio__card-text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: var(--spacer--sm); }
      .portfolio__card-text--info {
        display: flex;
        flex-direction: column; }
        .portfolio__card-text--info h4 {
          margin-bottom: 0.4rem; }
        .portfolio__card-text--info p {
          font-size: 0.8rem; }
      .portfolio__card-text a i {
        color: var(--colorDark);
        padding: 8px 12px;
        transition: var(--transition-normal);
        background-color: var(--colorDetail);
        border: 1px solid var(--colorDetail); }
        .portfolio__card-text a i:hover {
          background: transparent;
          color: var(--colorDetail);
          border: 1px solid var(--colorDetail); }

.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md); }
  .equipment .e-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--spacer--md);
    width: 100%; }
    .equipment .e-cards-container .e-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: var(--spacer--sm);
      gap: var(--spacer--sm);
      background: transparent;
      border: 1px solid var(--colorDetail); }
      .equipment .e-cards-container .e-card__img img {
        width: 100%;
        border: 1px solid var(--colorDetail); }

.underwater {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md); }
  .underwater h1 {
    text-align: center; }
  .underwater .u-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--spacer--md);
    width: 100%; }
    .underwater .u-cards-container .u-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: var(--spacer--sm);
      gap: var(--spacer--sm);
      background: transparent;
      border: 1px solid var(--colorDetail); }
      .underwater .u-cards-container .u-card__img img {
        width: 100%;
        border: 1px solid var(--colorDetail); }
      .underwater .u-cards-container .u-card__text {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacer--sm) / 2); }
        .underwater .u-cards-container .u-card__text h3 {
          font-size: var(--fontM); }
        .underwater .u-cards-container .u-card__text-info {
          display: flex;
          flex-direction: column;
          gap: 0.4rem; }
          .underwater .u-cards-container .u-card__text-info p {
            font-size: 0.8rem; }

.gallery-container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 1rem; }
  .gallery-container .gallery {
    text-align: center; }

.formulario {
  margin: 0 auto;
  max-width: 1400px;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }
  .formulario .formulario-container {
    display: flex;
    gap: 6rem; }
    .formulario .formulario-container .form {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .formulario .formulario-container .form__text {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 50%; }
        .formulario .formulario-container .form__text input {
          background: transparent;
          border: 1px solid var(--colorDetail);
          color: var(--colorLight);
          padding: 7px; }
      .formulario .formulario-container .form__textarea {
        display: flex;
        flex-direction: column;
        gap: 0.6rem; }
        .formulario .formulario-container .form__textarea textarea {
          background: transparent;
          border: 1px solid var(--colorDetail);
          color: var(--colorLight);
          resize: none; }
      .formulario .formulario-container .form__submit {
        width: 100px;
        padding: 4px 8px;
        color: var(--colorDark);
        background: var(--colorDetail);
        border: 1px solid var(--colorDetail);
        transition: var(--transition-normal);
        font-size: var(--fontS);
        display: flex;
        justify-content: center;
        margin: 0 auto; }
        .formulario .formulario-container .form__submit:hover {
          background: transparent;
          color: var(--colorDetail);
          border: 1px solid var(--colorDetail);
          transform: scale(1.1); }
    .formulario .formulario-container .datos {
      display: flex;
      flex-direction: column;
      gap: 3rem; }
      .formulario .formulario-container .datos__info {
        display: flex;
        flex-direction: column; }
        .formulario .formulario-container .datos__info h4:first-of-type {
          margin-top: 0; }
        .formulario .formulario-container .datos__info h4 {
          margin: 0.5rem 0 0.1rem 0; }
        .formulario .formulario-container .datos__info p {
          color: #9e9e9e; }

@media screen and (max-width: 890px) {
  .btn {
    display: block; }
  .nav {
    position: fixed;
    right: -100%;
    gap: 0;
    top: 0;
    flex-direction: column;
    background-color: #000;
    background-image: url(../img/black-twill.png);
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: var(--transition-normal);
    justify-content: space-evenly;
    border-left: 2px solid var(--colorDetail); }
    .nav__link {
      font-size: var(--fontM); }
  .nav.active {
    right: 0; }
  .footer {
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    gap: 2rem; }
  .hero {
    flex-wrap: wrap; }
    .hero__texto {
      text-align: center; } }

@media screen and (max-width: 480px) {
  .portfolio {
    width: 80%; }
  .formulario-container {
    flex-direction: column;
    align-items: center; }
    .formulario-container .datos__info {
      text-align: center;
      gap: 4px; } }
