:root {
  --spacer--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);
  --spacer--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
  --spacer--lg: clamp(32px, 8.8461525px + 6.615385vw, 75px);
  --fontTitles: "Oxanium", sans-serif;
  --fontText: Arial, sans-serif;
  --fontS: clamp(0.95rem, 0.59090903rem + 0.727273vw, 1.2rem);
  --fontM: clamp(1.18rem, 0.94454538rem + 1.076364vw, 1.55rem);
  --fontL: clamp(1.35rem, 0.93636366rem + 1.890909vw, 2rem);
  --fontXL: clamp(1.5rem, 0.73636366rem + 3.490909vw, 2.7rem);
  --fontXXL2: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  --fontXXL: clamp(4rem, 3.6479rem + 1.5023vw, 5rem);
  --colorLight: #f2f2f2;
  --colorDark: #0d0d0d;
  --colorDetail: #3084f2;
  --transition: all 250ms ease-in-out;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --border: 1px solid var(--colorLight);
  --text--shadow-a: 0px 1px 6px rgba(0, 0, 0, 0.5);
  --text--shadow-b: -2px 5px 6px rgba(0, 0, 0, 0.6); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  color: var(--colorLight);
  font-family: var(--fontText); }

a {
  color: var(--colorLight); }

h1 {
  font-size: var(--fontXXL);
  font-family: var(--fontTitles);
  line-height: 1; }

h2 {
  font-size: var(--fontXL);
  font-family: var(--fontTitles); }

h3 {
  font-size: var(--fontL);
  font-family: var(--fontTitles); }

h4 {
  font-size: var(--fontM);
  font-family: var(--fontText); }

p {
  line-height: 1.4;
  font-size: var(--fontS); }

.ocultar {
  display: none; }

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .hero h1 {
    text-shadow: var(--text--shadow-a);
    font-size: var(--fontXXL2); }

.header-container {
  padding: var(--spacer--sm);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: var(--fontTitles);
  transition: all 0.3s; }

.logo {
  justify-self: center;
  max-width: 220px;
  transition: var(--transition); }
  .logo:hover {
    transform: scale(1.02); }

.header__bg {
  background-color: var(--colorDark);
  background-image: url(../img/black-twill.png);
  border-bottom: 1px solid var(--colorLight); }

.logo img {
  width: 100%; }

.btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;
  padding-top: 0.2px; }
  .btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--colorLight);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms; }
  .btn__line1-active {
    transform: rotate(45deg) translate(-3px, 2px); }
  .btn__line2-active {
    opacity: 0;
    margin-right: 30px; }
  .btn__line3-active {
    transform: rotate(-45deg) translate(-3px, 1px); }

.nav {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: var(--spacer--sm); }
  .nav__link {
    margin-top: 8px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600; }
    .nav__link::after {
      content: "";
      display: block;
      background: var(--colorLight);
      width: 100%;
      height: 1.3px;
      clip-path: var(--clippy);
      transition: var(--transition); }
    .nav__link:hover {
      --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%); }

.nav-right {
  align-self: center;
  justify-self: center; }
  .nav-right__info {
    color: #db0200;
    text-shadow: var(--text--shadow-a); }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacer--md);
  background-color: var(--colorDark);
  background-image: url(../img/black-twill.png); }
  .footer__social {
    display: flex;
    gap: var(--spacer--sm); }
    .footer__social i {
      font-size: 2rem;
      transition: var(--transition);
      cursor: pointer; }
      .footer__social i:hover {
        transform: scale(1.02); }
  .footer__copy {
    font-size: 0.8rem; }

.hero-index {
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/facha.jpg); }
  .hero-index .hero-index__container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .hero-index .hero-index__container-texto {
      position: fixed; }
      .hero-index .hero-index__container-texto h4 {
        padding-left: 4px;
        color: #db0200;
        text-shadow: var(--text--shadow-a); }
      .hero-index .hero-index__container-texto p {
        padding-left: 4px;
        text-shadow: var(--text--shadow-a); }

.work-container {
  background-color: var(--colorDark);
  background-image: url(../img/black-twill.png);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacer--sm);
  border-top: var(--border);
  border-bottom: var(--border);
  z-index: 1;
  position: relative; }
  .work-container .work {
    gap: var(--spacer--sm);
    display: flex;
    width: 100%;
    height: 100%; }
    .work-container .work__card {
      width: 0px;
      flex-grow: 1;
      transition: 0.5s ease;
      position: relative;
      overflow: hidden; }
      .work-container .work__card:hover {
        cursor: pointer;
        width: 300px; }
      .work-container .work__card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        transition: 0.5s ease; }
        .work-container .work__card-img img:hover {
          opacity: 1;
          filter: contrast(110%); }
      .work-container .work__card h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: var(--text--shadow-b); }

.hero-movies {
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/steady-palmeras.jpg); }

.hero-commercials {
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/soldadura.jpg); }

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: var(--colorDark);
  background-image: url(../img/black-twill.png);
  padding: var(--spacer--sm);
  border-top: var(--border);
  border-bottom: var(--border); }
  .portfolio__card {
    position: relative; }
    .portfolio__card:hover .portfolio__card-text {
      display: block; }
    .portfolio__card:hover .portfolio__card-img {
      opacity: 0.8; }
    .portfolio__card-img {
      opacity: 1;
      transition: all 0.5s;
      line-height: 0; }
      .portfolio__card-img img {
        width: 100%; }
    .portfolio__card-text {
      position: absolute;
      width: 80%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: var(--text--shadow-b);
      display: none; }
      .portfolio__card-text h4 {
        margin-bottom: 0.4rem; }
      .portfolio__card-text p {
        font-size: 0.8rem; }

.portfolio__card-comm {
  padding: var(--spacer--sm); }

.hero-equipment {
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/bazooka.jpg); }

.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorDark);
  background-image: url(../img/black-twill.png);
  border-top: var(--border);
  border-bottom: var(--border);
  padding: var(--spacer--sm); }
  .equipment .e-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: var(--spacer--sm);
    width: 100%; }
    .equipment .e-cards-container .e-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: var(--border); }
      .equipment .e-cards-container .e-card__img {
        line-height: 0; }
        .equipment .e-cards-container .e-card__img img {
          width: 100%; }
      .equipment .e-cards-container .e-card p {
        text-align: center;
        font-weight: 600;
        padding: 4px; }

.hero-underwater {
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/agua-bulgaria.jpg); }
  .hero-underwater h1 {
    text-align: center; }

.underwater {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacer--lg);
  gap: var(--spacer--md);
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: var(--colorDark);
  background-image: url(../img/black-twill.png); }
  .underwater .u-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--spacer--sm);
    width: 100%; }
    .underwater .u-cards-container .u-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: var(--border); }
      .underwater .u-cards-container .u-card__img img {
        width: 100%; }
      .underwater .u-cards-container .u-card__text {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacer--sm) / 2);
        padding: 8px 16px; }
        .underwater .u-cards-container .u-card__text-info {
          display: flex;
          flex-direction: column;
          gap: 0.4rem; }
          .underwater .u-cards-container .u-card__text-info p {
            font-size: 0.8rem; }

.formulario {
  background-position: center;
  border-bottom: var(--border);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/con-camara.jpeg); }
  .formulario .formulario-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacer--lg); }
    .formulario .formulario-container .form {
      display: flex;
      flex-direction: column;
      gap: var(--spacer--sm); }
      .formulario .formulario-container .form__text {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 60%; }
        .formulario .formulario-container .form__text input {
          background: var(--colorLight);
          color: var(--colorDark);
          padding: 7px; }
          .formulario .formulario-container .form__text input:focus {
            outline: none; }
      .formulario .formulario-container .form__textarea {
        display: flex;
        flex-direction: column;
        gap: 0.6rem; }
        .formulario .formulario-container .form__textarea textarea {
          background: var(--colorLight);
          color: var(--colorDark);
          padding: 7px;
          resize: none;
          width: 100%; }
          .formulario .formulario-container .form__textarea textarea:focus {
            outline: none; }
      .formulario .formulario-container .form__submit {
        padding: 6px 10px;
        color: var(--colorDark);
        background: var(--colorLight);
        border: 1px solid var(--colorDark);
        transition: var(--transition);
        font-size: var(--fontS);
        width: max-content;
        cursor: pointer; }
        .formulario .formulario-container .form__submit:hover {
          background: var(--colorDark);
          color: var(--colorLight);
          border: var(--border); }
    .formulario .formulario-container .datos {
      display: flex;
      flex-direction: column;
      gap: var(--spacer--md); }
      .formulario .formulario-container .datos__info {
        display: flex;
        flex-direction: column; }
        .formulario .formulario-container .datos__info h4:first-of-type {
          margin-top: 0; }
        .formulario .formulario-container .datos__info h4 {
          margin: 0.4rem 0 0.1rem 0; }
        .formulario .formulario-container .datos__info p {
          color: #9e9e9e; }

@media screen and (max-width: 890px) {
  .header-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .btn {
    display: block; }
  .nav {
    position: fixed;
    right: -100%;
    gap: 0;
    top: 0;
    flex-direction: column;
    background-color: var(--colorDark);
    background-image: url(../img/black-twill.png);
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: var(--transition);
    justify-content: space-evenly; }
    .nav__link {
      font-size: var(--fontM); }
  .nav-right__info {
    display: none; }
  .nav.active {
    right: 0; }
  .footer {
    flex-direction: column;
    text-align: center;
    gap: var(--spacer--md); }
  .work-container {
    height: 100vh; }
    .work-container .work {
      flex-direction: column; }
      .work-container .work__card {
        width: 100%;
        height: 0; }
        .work-container .work__card:hover {
          height: 0;
          width: 100%; }
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
  .portfolio__card-text {
    display: block; }
  .portfolio__card-img {
    opacity: 0.8; }
  .hero-index,
  .hero-commercials {
    background-position: 70% 50%; }
  .equipment .e-cards-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); }
  .formulario {
    height: max-content;
    padding-top: calc(var(--spacer--md) + 90px);
    gap: var(--spacer--sm); }
  .formulario-container {
    padding: var(--spacer--md); } }
