// Form
.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer--md);

  .formulario-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer--lg);
    .form {
      display: flex;
      flex-direction: column;
      gap: var(--spacer--sm);

      &__text {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 50%;

        input {
          background: transparent;
          border: var(--border);
          color: var(--colorLight);
          padding: 7px;
        }
      }

      &__textarea {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        textarea {
          background: transparent;
          border: var(--border);
          color: var(--colorLight);
          resize: none;
          width: 100%;
        }
      }

      &__submit {
        padding: 6px 10px;
        color: var(--colorDark);
        background: var(--colorDetail);
        border: var(--border);
        transition: var(--transition);
        font-size: var(--fontS);
        width: max-content;
        cursor: pointer;

        &:hover {
          background: transparent;
          color: var(--colorDetail);
          border: var(--border);
          transform: scale(1.02);
        }
      }
    }

    .datos {
      display: flex;
      flex-direction: column;
      gap: var(--spacer--md);

      &__info {
        display: flex;
        flex-direction: column;

        h4:first-of-type {
          margin-top: 0;
        }

        h4 {
          margin: 0.4rem 0 0.1rem 0;
        }

        p {
          color: #9e9e9e;
        }
      }
    }
  }
}
