// Equipment
.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md);

  .e-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--spacer--md);
    width: 100%;

    .e-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: var(--spacer--sm);
      gap: var(--spacer--sm);
      background: transparent;
      border: var(--border);

      &__img {
        img {
          width: 100%;
          border: var(--border);
        }
      }
    }
  }
}

// Underwater Equipment
.underwater {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md);

  h1 {
    text-align: center;
  }

  .u-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--spacer--md);
    width: 100%;

    .u-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: var(--spacer--sm);
      gap: var(--spacer--sm);
      background: transparent;
      border: var(--border);

      &__img {
        img {
          width: 100%;
          border: var(--border);
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacer--sm) / 2);

        h3 {
          font-size: var(--fontM);
        }

        &-info {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
