// Equipment
.equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem;
  @include center;
  gap: 3rem;

  .e-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
    width: 100%;

    .e-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 20px;
      background: transparent;
      border: 1px solid var(--colorDetail);
      gap: 1rem;

      &__img {
        img {
          width: 100%;
          border: 1px solid var(--colorDetail);
        }
      }
    }
  }
}

.underwater {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  @include center;
  gap: 4rem;

  h1 {
    text-align: center;
  }

  .u-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    width: 80%;

    .u-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      background: transparent;
      border: 1px solid var(--colorDetail);
      gap: 1rem;

      &__img {
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          border: 1px solid var(--colorDetail);
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        padding-left: 0.2rem;

        &-info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
