*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  color: var(--colorLight);
  font-family: var(--fontText);
}
a {
  color: var(--colorLight);
}
.ocultar {
  display: none;
}
