*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #000;
  background-image: url(../img/black-twill.png);
  font-size: 16px;
  color: var(--colorLight);
  font-family: var(--fontText);
}
a {
  color: var(--colorLight);
}
.ocultar {
  display: none;
}
.fixed {
  position: fixed;
  right: 2rem;
}
// Wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer--lg);
  margin: var(--spacer--lg);
}
