// Header
.header-container {
  padding: calc(var(--spacer--md) - var(--spacer--sm));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorDetail);
}
.logo {
  max-width: 180px;
  transition: var(--transition-normal);
  &:hover {
    transform: scale(1.02);
  }
}
.logo img {
  width: 100%;
}
.btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--colorLight);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }
  &__line1-active {
    transform: rotate(45deg) translate(-3px, 2px);
  }
  &__line2-active {
    opacity: 0;
    margin-right: 30px;
  }
  &__line3-active {
    transform: rotate(-45deg) translate(-3px, 1px);
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--spacer--sm);
  &__link {
    margin-top: 8px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    &::after {
      content: "";
      display: block;
      background: var(--colorDetail);
      width: 100%;
      margin-top: 4px;
      height: 1.3px;
      clip-path: var(--clippy);
      transition: clip-path 0.2s;
    }
    &:hover {
      --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
    }
  }
}

// Footer
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--colorDetail);
  padding: var(--spacer--md);
  &__social {
    display: flex;
    gap: var(--spacer--sm);
    i {
      font-size: 1.8rem;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
  &__copy {
    font-size: 0.8rem;
  }
}
