// Header
.header-container {
  padding: var(--spacer--sm);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  width: 100%;
  z-index: 999;
  font-family: var(--fontTitles);
}
.logo {
  justify-self: center;
  max-width: 220px;
  transition: var(--transition);
  &:hover {
    transform: scale(1.02);
  }
}
.logo img {
  width: 100%;
}
.btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;
  padding-top: 0.2px;
  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--colorLight);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }
  &__line1-active {
    transform: rotate(45deg) translate(-3px, 2px);
  }
  &__line2-active {
    opacity: 0;
    margin-right: 30px;
  }
  &__line3-active {
    transform: rotate(-45deg) translate(-3px, 1px);
  }
}

.nav {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: var(--spacer--sm);
  &__link {
    margin-top: 8px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    &::after {
      content: "";
      display: block;
      background: var(--colorLight);
      width: 100%;
      margin-top: 4px;
      height: 1.3px;
      clip-path: var(--clippy);
      transition: var(--transition);
    }
    &:hover {
      --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
    }
  }
}

.nav-right {
  align-self: center;
  justify-self: center;

  &__info {
    color: #db0200;
  }
}

// Footer
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--colorLight);
  padding: var(--spacer--md);
  background-color: #000;
  background-image: url(../img/black-twill.png);
  &__social {
    display: flex;
    gap: var(--spacer--sm);
    i {
      font-size: 2rem;
      transition: var(--transition);
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
  &__copy {
    font-size: 0.8rem;
  }
}
