// Hero
.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/facha.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-texto {
      h1 {
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
      }
      h4 {
        padding-left: 4px;
        color: #db0200;
      }
      p {
        padding-left: 4px;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
      }
    }
  }
  &__imagen {
    max-width: 600px;
    img {
      width: 100%;
      border: var(--border);
    }
  }
}

// Work
.work-container {
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacer--sm);
  border-top: 1px solid var(--colorLight);

  .work {
    gap: var(--spacer--sm);
    display: flex;
    width: 100%;
    height: 100%;
    &__card {
      width: 0px;
      flex-grow: 1;
      transition: 0.5s ease;
      position: relative;
      overflow: hidden;
      &:hover {
        cursor: pointer;
        width: 300px;
      }
      &-img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.8;
          transition: 0.5s ease;

          &:hover {
            opacity: 1;
            filter: contrast(110%);
          }
        }
      }
      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: -2px 5px 6px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

//   .cards-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: var(--spacer--md);
//     padding: calc(var(--spacer--lg) * 2) var(--spacer--md);
//     flex-wrap: wrap;
//     height: max-content;

//     .card {
//       display: flex;
//       flex-direction: column;
//       background: transparent;
//       border: var(--border);
//       gap: var(--spacer--sm);
//       max-width: 400px;
//       position: relative;
//       &__img {
//         width: 100%;
//         height: 100%;
//         &:hover {
//           filter: brightness(70%);
//         }
//       }

//       &__texto {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }
