// SECCIÓN HERO
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacer--md);

  &__texto {
    span {
      color: var(--colorDetail);
    }
    h4 {
      padding-left: 4px;
      color: #db0200;
    }
    p {
      padding-left: 4px;
    }
    a {
      i {
        font-size: 2.4rem;
        transition: var(--transition-normal);
        cursor: pointer;
        margin-top: 0.6rem;
        padding-left: 4px;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
  &__imagen {
    max-width: 600px;
    img {
      width: 100%;
      border: 1px solid var(--colorDetail);
    }
  }
}

// SECCIÓN WORK
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md);

  .cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacer--md);

    .card {
      display: flex;
      flex-direction: column;
      padding: var(--spacer--sm);
      background: transparent;
      border: 1px solid var(--colorDetail);
      gap: var(--spacer--sm);
      max-width: 320px;

      &__img {
        img {
          width: 100%;
          border: 1px solid var(--colorDetail);
        }
      }

      &__texto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          i {
            color: var(--colorDark);
            padding: 8px 12px;
            transition: var(--transition-normal);
            background-color: var(--colorDetail);
            border: 1px solid var(--colorDetail);
            font-size: var(--fontS);

            &:hover {
              background: transparent;
              color: var(--colorDetail);
              border: 1px solid var(--colorDetail);
            }
          }
        }
      }
    }
  }
}
