// SECCIÓN HERO
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  @include center;
  padding: 6rem 2rem;

  &__texto {
    justify-self: center;
    span {
      color: var(--colorDetail);
    }
    h2 {
      padding-left: 4px;
      color: #db0200;
    }
    p {
      padding-left: 4px;
    }
    a {
      i {
        font-size: 2.4rem;
        transition: var(--transition-normal);
        cursor: pointer;
        margin-top: 0.6rem;
        padding-left: 4px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &__imagen {
    img {
      width: 100%;
      border: 1px solid var(--colorDetail);
    }
  }
}

// SECCIÓN WORK
.work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem 6rem 1.5rem;
  @include center;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    overflow: hidden;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.4rem;
      background: transparent;
      border: 1px solid var(--colorDetail);
      gap: 1rem;
      max-width: 400px;

      &__img {
        img {
          width: 100%;
          border: 1px solid var(--colorDetail);
        }
      }

      &__texto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        a {
          i {
            color: var(--colorDark);
            padding: 12px 20px;
            transition: var(--transition-normal);
            background-color: var(--colorDetail);
            border: 1px solid var(--colorDetail);

            &:hover {
              background: transparent;
              color: var(--colorDetail);
              border: 1px solid var(--colorDetail);
            }
          }
        }
      }
    }
  }
}
