// Slider
.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacer--md);

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &-title {
        text-align: center;
        margin-top: var(--spacer--sm);
      }

      &-img {
        width: 100%;
        border: var(--border);
      }
    }
  }
}

// Cards
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--spacer--md);
  align-self: center;
  width: 100%;
  &__card {
    display: flex;
    flex-direction: column;
    border: var(--border);
    padding: var(--spacer--sm);
    gap: var(--spacer--sm);
    justify-content: flex-start;
    &-img {
      img {
        width: 100%;
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: var(--spacer--sm);

      &--info {
        display: flex;
        flex-direction: column;

        h4 {
          margin-bottom: 0.4rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
      a {
        i {
          color: var(--colorDark);
          padding: 8px 12px;
          transition: var(--transition);
          background-color: var(--colorDetail);
          border: var(--border);

          &:hover {
            background: transparent;
            color: var(--colorDetail);
            border: var(--border);
          }
        }
      }
    }
  }
}
