// Hero
.hero-movies {
  background-position: top;
  @include center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/steady-palmeras.jpg);
}

.hero-commercials {
  background-position: top;
  @include center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/soldadura.jpg);
}

// Cards
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background-color: #000;
  padding: var(--spacer--sm);
  border-top: var(--border);
  border-bottom: var(--border);

  &__card {
    position: relative;
    &:hover .portfolio__card-text {
      display: block;
    }

    &:hover .portfolio__card-img {
      opacity: 0.8;
    }
    &-img {
      opacity: 1;
      transition: all 0.5s;
      line-height: 0;
      img {
        width: 100%;
      }
    }

    &-text {
      position: absolute;
      width: 80%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: var(--text--shadow-b);
      display: none;

      h4 {
        margin-bottom: 0.4rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}
