:root {
  // Spacers
  --spacer--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);
  --spacer--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
  --spacer--lg: clamp(32px, 8.8461525px + 6.615385vw, 75px);

  // Font
  --fontTitles: "Oxanium", sans-serif;
  --fontText: Arial, sans-serif;
  --fontS: clamp(0.95rem, 0.59090903rem + 0.727273vw, 1.2rem);
  --fontM: clamp(1.18rem, 0.94454538rem + 1.076364vw, 1.55rem);
  --fontL: clamp(1.35rem, 0.93636366rem + 1.890909vw, 2rem);
  --fontXL: clamp(1.5rem, 0.73636366rem + 3.490909vw, 2.7rem);
  --fontXXL2: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);
  --fontXXL: clamp(4rem, 3.6479rem + 1.5023vw, 5rem);

  // Colors
  --colorLight: #f2f2f2;
  --colorDark: #0d0d0d;
  --colorDetail: #3084f2;

  // Utilities
  --transition: all 250ms ease-in-out;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --border: 1px solid var(--colorDetail);
}

h1 {
  font-size: var(--fontXXL);
  font-family: var(--fontTitles);
  line-height: 1;
}
h2 {
  font-size: var(--fontXL);
  font-family: var(--fontTitles);
}
h3 {
  font-size: var(--fontL);
  font-family: var(--fontTitles);
}
h4 {
  font-size: var(--fontM);
  font-family: var(--fontText);
}
p {
  line-height: 1.4;
  font-size: var(--fontS);
}
